<ion-view title="Adc Incomisa" id="page6">
    <ion-content padding="true" class="has-header">
        <div class="spacer" style="width: 300px; height: 60px;"></div>
        <div>
            <img src="img/lmy8f2jSVqZE8dk4jvmU_logo.png" width="65%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
        <div class="spacer" style="width: 300px; height: 86px;"></div>
        <a ui-sref="baixaDeVolume" id="adcIncomisa-button19" class="button button-positive  button-block">Baixa de Volumes</a>
        <a ui-sref="adicionarVolAConDeEmba" id="adcIncomisa-button20" class="button button-positive  button-block">Adicionar Vol. Contr Emba</a>
        <a ui-sref="boxParaVolume" id="adcIncomisa-button21" class="button button-positive  button-block">Box para Volume</a>
        <a ui-sref="consultaBox" id="adcIncomisa-button22" class="button button-positive  button-block">Consulta Box</a>
        <div class="spacer" style="width: 300px; height: 48px;"></div>
        <div>
            <img src="img/QTQ8ihAXTIiltJozD9TD_1390248783_totvs.jpg" width="30%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
    </ion-content>
</ion-view>