<ion-view title="Baixa de Volume" id="page7">
    <ion-content padding="true" class="has-header">
        <h2 id="baixaDeVolume-heading1" style="color:#000000;">Volume:</h2>
        <form id="baixaDeVolume-form2" class="list">
            <label class="item item-input" id="baixaDeVolume-input3" name="vol">
                <input type="text" placeholder="volume">
            </label>
        </form>
        <div class="spacer" style="width: 300px; height: 42px;"></div>
        <a ui-sref="aOConfirmada" id="baixaDeVolume-button24" class="button button-positive  button-block">Baixar</a>
    </ion-content>
</ion-view>