<ion-view title="Box para Volume" id="page9">
    <ion-content padding="true" class="has-header">
        <h3 id="boxParaVolume-heading3" style="color:#000000;">Box:</h3>
        <form id="boxParaVolume-form4" class="list">
            <label class="item item-input" id="boxParaVolume-input5">
                <input type="text" placeholder="Box">
            </label>
        </form>
        <h3 id="boxParaVolume-heading4" style="color:#000000;">Projeto:</h3>
        <form id="boxParaVolume-form6" class="list">
            <label class="item item-input" id="boxParaVolume-input7">
                <input type="text" placeholder="Projeto">
            </label>
        </form>
        <h3 id="boxParaVolume-heading5" style="color:#000000;">Volume:</h3>
        <form id="boxParaVolume-form7" class="list">
            <label class="item item-input" id="boxParaVolume-input8">
                <input type="text" placeholder="Volume">
            </label>
        </form>
        <div class="spacer" style="width: 300px; height: 48px;"></div>
        <button id="boxParaVolume-button26" class="button button-positive  button-block">Confirmar</button>
    </ion-content>
</ion-view>