<ion-view title="Menu" id="page3">
    <ion-content padding="true" class="has-header">
        <div class="spacer" style="width: 300px; height: 60px;"></div>
        <div>
            <img src="img/4kc91sTtTo6Itwi26qec_logo.png" width="65%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
        <div class="spacer" style="width: 300px; height: 86px;"></div>
        <a ui-sref="atualizaEs" id="menu-button3" class="button button-positive  button-block">Atualizações</a>
        <a ui-sref="login" id="menu-button7" class="button button-positive  button-block">Sair</a>
        <div class="spacer" style="width: 300px; height: 86px;"></div>
        <div>
            <img src="img/k5S5v49HTgCbdFNbhS7J_1390248783_totvs.jpg" width="30%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
    </ion-content>
</ion-view>